# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
logs/
*.log

# Receipts
receipts/*.pdf

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

.pytest_cache/
*.pyc

# Coverage

.coverage
coverage.xml
htmlcov/